.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  margin-top:30vh;
  margin-left: 8vw;
  margin-right:6vw;

}
.title{
  font-family: fira sans;
  font-size:1.8rem;
  color:#FF6347;
}
.title.letter {
  display: inline-block;
  line-height: 1em;
}
.des1{
  font-family: Comfortaa;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: antiquewhite;

}


