#form {
  margin-top:30vh;

}
h3{
  font-family:Playfair Display;
  color:#FF6347;
  margin-left: 9rem;
  margin-bottom:1.5rem;
  font-size: 1.5rem;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {

  display: inline-block;
  width: 70px;
  text-align: right;
  color:#ffffff;
  font-family:work sans;
  font-size: 1.1rem;
}

#btn{
  padding:2px;
  font-size:1rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin-left: 1.5rem;
}

input,
textarea {
  font: 1em sans-serif;
  height:1.8rem;
  width: 300px;
  box-sizing: border-box;
  border-radius:5px;
  margin-left: 20px;
  border: 1px solid #999;

}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 10em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}
