#skills{
  color: #ffffff;

}
.skills{
  font-size:1.8rem;
  margin-top:5rem;
  margin-left:8rem ;
  color:#FF6347;
}
.des1{
  font-size:1.2rem;
  margin-top:0.5rem;
  margin-left:8rem ;
}

#progress,.cap{
  display: flex;
  align-items:stretch;
  justify-content: space-evenly;
  margin-top:1.5rem;
  flex-direction: row;
  flex-wrap: wrap;

}
.cap{
  margin-top:0.5rem;
  color:#ffffff;
  font-size:1.2rem;
}



.tech{
  opacity: 0.8;
  background-color:#000000;
  width:60%;
  height:30%;
  margin-top:2.5rem;
  margin-left: 20%;

}

.des2{
  color: #FF6347;
  text-align:center;
  font-size:1.5rem;
}
.technologies{
  color: #ffffff;
  margin-top: 0.5rem;
  text-align: center;
  font-size:1.2rem;

}
