
<div id="template">
  <h2 class="title">{{P}}</h2>
  <p class="work">{{check}}</p>

 <a href=" https://umarshk-mb.github.io/GenQuotes/Quote.html" target="_blank" class="project1">
  <img [src]='quote' class="con2">
  <p class="caption">Random quote generator</p>
 </a>
 <a href="https://umarshk-mb.github.io/Calculator/index.html" target="_blank" class="project2">
  <img [src]='calculator' class="con2">
  <p class="caption">Calculator</p>
 </a>
 <a href="https://github.com/umarshk-mb/Your-Sketch" target="_blank" class="project3">
  <img [src]='sketch' class="con2">
  <p class="caption">Pencil Sketch</p>
 </a>
 <a href="https://angular-todo-applica.stackblitz.io" target="_blank" class="project4">
  <img [src]='todo' class="con2">
  <p class="caption">Todo app</p>
 </a>
</div>

<router-outlet></router-outlet>
