<div class="body ">
      <img [src]='myimage' class="myimg" width='150rem' height="200rem">
      <h1 class="name">{{name}}</h1>
      <p class='des'>{{d1}}</p>
      <button class='resume'><a [href]="resume" target="_blank" class='res'>View Resume</a></button>
    </div>
  <div class="footer">
      <a href="https://www.linkedin.com/in/umarmb/" target="_blank"><img [src]='linkedin' class="con2" width='25vw' height='25vh'></a>
      <a href="https://github.com/umarshk-mb" target="_blank"><img [src]='github' class="con2" width='25vw' height='25vh' color='white'></a>
      <a href='mailto:imumar944@gmail.com/' target="_blank"><img [src]='gmail' class="con2" width='25vw' height='25vh'></a>
      <a href='https://www.instagram.com/umar30_4' target="_blank"><img [src]='insta' class="con2" width='25vw' height='25vh'></a>
      <a href='https://twitter.com/umarbvt_4430' target="_blank"><img [src]='tweet' class="con2" width='25vw' height='25vh'></a>
  </div>


<router-outlet></router-outlet>
